@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', 'sans-serif';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    max-width: 120rem;
    margin: 0 auto;
}

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap:2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.container-logo i{
    font-size: 3rem;
}
.container-hero h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.container-user .fa-user{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-cart-shopping{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}
.container-user .fa-whatsapp{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
    margin-right: 3rem;
}
.container-user .text{
    font-weight: bold;
    margin-left: 13rem;
}

.container-user .number{
    font-weight: bold;
    margin-left: 13rem;
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}


/*navbar */
.container-navbar{
    background-color: rgb(31, 240, 118);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: rgb(31, 240, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color:#000;
}

/*banner*/

.banner{
    background-image:linear-gradient(100deg, #000000, #0020), url(Lechuga.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.space{
    height: 20px;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color:#fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color:#fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
/* productos */
img{
    max-width: 100%;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0.20);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color:#fff;
    padding: 15px 10px;
    cursor: pointer;
}
.Kg{
    font-size: 18px;
    font-weight: 900;
}
.price{
    font-size: 18px;
    font-weight: 900;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}


.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}


.container_pay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem; 
    margin: 20px;
}

.pay{
    border: none;
    background: none;
    background-color: #000;
    color:#fff;
    padding: 15px 10px;
    cursor: pointer;
}
